 
11. How many movies belong to multiple genres? What percentage of movies in each genre also belong to another genre?

12. What is the correlation between Duration and Rating? Do longer or shorter movies tend to receive higher ratings?

13. Calculate the average Rating for each genre. Which genres have the highest and lowest average ratings?

14. Create a new binary flag to indicate high-rated movies (with a Rating greater than 75). How many movies fall into this category?

15. Extract the year from the Release Date column and calculate the number of movies released per year. What trends in movie releases can be observed over time?

16. Identify the most common combinations of genres (e.g., Drama + Comedy). What are the top 5 most frequent genre combinations?

17. Compute the mean, median, and standard deviation for Rating across different movie durations (short, medium, long). Which duration group has the highest average rating?

18. Compare the average and median Rating for movies with single vs. multiple directors. Is there a significant difference in ratings?

19. What are the top 5 most frequent screenwriters (Written by) in the dataset? How do their movies' average ratings compare?

20. For each year, calculate the average Rating and Number of Persons Voted. How has the relationship between these two metrics evolved over time?

21. Perform a correlation analysis between the Number of Persons Voted, Duration, and Rating. What are the correlation coefficients, and what do they reveal?

22. Compute the proportion of movies with ratings below 50. How does this proportion change over the decades?

23. Analyze the average Rating for movies by decade and genre. Which decade and genre combination produced the highest-rated films?

24. Compare the number of movies and the average Rating for movies directed by men vs. women (if gender data is available). Are there any significant trends?

25. Perform a text analysis on the Description column. Are there certain keywords in movie descriptions associated with higher or lower ratings?

In [177]:
import pandas as pd
import numpy as np

In [178]:
df = pd.read_csv('16k_Movies.csv')

In [179]:
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  object
 3   Description          16290 non-null  object
 4   Rating               12846 non-null  float64
 5   No of Persons Voted  12829 non-null  object
 6   Directed by          16283 non-null  object
 7   Written by           15327 non-null  object
 8   Duration             16277 non-null  object
 9   Genres               16285 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [181]:
#  What percentage of missing or null values exist in key columns such as Description, Directed by, and Written by? How would you handle these missing values?
missing_val = (df.isnull().sum()/len(df)) * 100
total_miss = df.isnull().sum()
percent = pd.concat([total_miss, missing_val],  axis = 1,keys=['Missing values','Percentage'])
percent = percent.sort_values('Percentage', ascending= False)
percent

                     Missing values  Percentage
No of Persons Voted            3461   21.246163
Rating                         3444   21.141805
Written by                      963    5.911602
Duration                         13    0.079804
Directed by                       7    0.042971
Genres                            5    0.030694
Unnamed: 0                        0    0.000000
Title                             0    0.000000
Release Date                      0    0.000000
Description                       0    0.000000

In [182]:
numerical_data = df.select_dtypes(include=['int','float'])
categorical_data = df.select_dtypes(include=['object','category'])
for x in numerical_data:
    df[x].fillna(np.mean(df[x]), inplace= True)

for x in categorical_data:
    df[x].fillna(df[x].mode()[0], inplace = True)

missing_val = (df.isnull().sum()/len(df)) * 100
total_miss = df.isnull().sum()
percent = pd.concat([total_miss, missing_val],  axis = 1,keys=['Missing values','Percentage'])
percent = percent.sort_values('Percentage', ascending= False)
percent

C:\Users\PC\AppData\Local\Temp\ipykernel_5784\3442940702.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[x].fillna(np.mean(df[x]), inplace= True)
C:\Users\PC\AppData\Local\Temp\ipykernel_5784\3442940702.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[x].fillna(df[x].mode()[0], inplace = True)

                     Missing values  Percentage
Unnamed: 0                        0         0.0
Title                             0         0.0
Release Date                      0         0.0
Description                       0         0.0
Rating                            0         0.0
No of Persons Voted               0         0.0
Directed by                       0         0.0
Written by                        0         0.0
Duration                          0         0.0
Genres                            0         0.0

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16290 non-null  int64
 1   Title                16290 non-null  object
 2   Release Date         16290 non-null  object
 3   Description          16290 non-null  object
 4   Rating               16290 non-null  float64
 5   No of Persons Voted  16290 non-null  object
 6   Directed by          16290 non-null  object
 7   Written by           16290 non-null  object
 8   Duration             16290 non-null  object
 9   Genres               16290 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB

In [171]:
df.fillna("")

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.400000,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.300000,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.300000,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.100000,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.800000,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"
...,...,...,...,...,...,...,...,...,...,...
16285,16285,Boys to Men,"Apr 27, 2001",Compilation of 4 short films from different di...,6.617632,4,Woody Allen,Woody Allen,\n https://www.amazon.com/Boys-Men-Phil...,Drama
16286,16286,Saint Misbehavin': The Wavy Gravy Movie,"Dec 10, 2010","Beginning with Woodstock ‘99, director Michell...",6.617632,4,Michelle Esrick,Woody Allen,Not Rated,Documentary
16287,16287,Collectors,"Oct 1, 2000",America is drawn to the macabre handiwork of t...,6.617632,4,Julian P. Hobbs,Woody Allen,1 h 20 m,Documentary
16288,16288,Bonhoeffer,"Jun 20, 2003",Dramatic documentary about the young German pa...,6.617632,4,Martin Doblmeier,Martin Doblmeier,1 h 33 m,"Documentary,Biography,History,War"
16289,16289,7th Street,"Jan 17, 2003",This documentary explores change in one of the...,6.617632,4,Josh Pais,Josh Pais,\n http://www.7thstreetmovie.com/\n ...,Documentary

In [186]:
df['Duration'].unique()

array(['932', '139', '147', '216', '37', '255', '245', '336', '38', '235',
       '225', '131', '134', '158', '250', '233', '143', '242', '141',
       '22', '153', '212', '150', '215', '25', '121', '157', '214', '217',
       '21', '', '240', '151', '310', '152', '133', '18', '2', '243',
       '138', '27', '211', '234', '237', '149', '23', '315', '146', '135',
       '154', '258', '253', '230', '329', '129', '123', '128', '26',
       '130', '321', '213', '29', '525', '144', '28', '322', '112', '145',
       '433', '142', '248', '136', '238', '122', '140', '159', '247',
       '148', '110', '210', '32', '137', '156', '155', '127', '4', '220',
       '226', '228', '259', '24', '252', '218', '221', '118', '317',
       '313', '120', '249', '132', '320', '46', '115', '227', '3', '125',
       '219', '326', '521', '415', '124', '34', '337', '815', '19', '432',
       '116', '316', '15', '222', '30', '126', '13', '350', '117', '224',
       '39', '231', '119', '229', '232', '251', '344', '223', '113',
       '111', '351', '53', '346', '239', '236', '1', '36', '44', '244',
       '114', '14', '410', '254', '340', '241', '41', '311', '40', '59',
       '358', '31', '357', '455', '16', '1328', '54', '33', '325', '359',
       '349', '11', '314', '338', '335', '58', '56', '420', '17',
       '201713159275', '256', '202012', '47', '318', '517', '246', '257',
       '312', '1980', '52', '51', '430', '45', '55', '48', '339'],
      dtype=object)

In [185]:
df['Duration'] =df['Duration'].str.replace(r'[^\d]','', regex= True)

In [184]:
df['Duration'] = df['Duration'].replace(to_replace=r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9fA-F]))+|www\.[a-z0-9\.\-]+\.[a-z]{2,4}',value='',regex=True)

In [187]:
def convert_duration_to_minutes(Duration):
    if isinstance('Duration',str):
        parts = Duration.split()
        total_minutes = 0
        for part in parts:
            part = part.strip()
            if part:
                 try:
                    if 'h' in part:
                        total_minutes += int(part.replace('h',"")) * 60
                    elif 'm' in part:
                        total_minutes += int(part.replace('m',""))
                 except ValueError:
                        print(f"Unexpected format:'{part}'")
                        return total_minutes 
df['Duration'] = df['Duration'].apply(convert_duration_to_minutes)

In [188]:
df['Duration'].unique()

array([None], dtype=object)

In [70]:
df.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",0.0,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",0.0,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",0.0,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",0.0,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",0.0,"Drama,History"

In [29]:
df['Duration']=df['Duration'].str.replace(r'[^\d]','',regex=True)

In [47]:
df['Duration']=df['Duration'].str.strip()

In [48]:
df['Duration']=df['Duration'].astype(int)

ValueError: invalid literal for int() with base 10: ''

In [12]:
df['No of Persons Voted'] = df['No of Persons Voted'].str.replace(',', "").astype(int)

In [ ]:
df['Duration'].unique()

In [ ]:
df['Duration'].replace({ '\n        https://www.kinolorber.com/film/hit-the-road\n        ' : '1 h 2 m',  '\n        http://www.7thart.com/current/creature/creature.html\n        ' : '1 h 2 m',
       '3 h 39 m': '3 h 29 m',
       '\n        https://www.amazon.com/Boys-Men-Phillip-Bartell/dp/B00005UF80\n        ' : '1 h 2 m',
       '\n        http://www.7thstreetmovie.com/\n        ':'1h 2m',  'Unrated' : '1 h 2 m', 'Not Rated':'1 h 2 m'}, inplace = True)

In [ ]:
df['Duration'].unique()

In [ ]:
hours = int(df['Duration'].replace('', ""))
minutes = int(df['Duration'].replace('', ""))
df['Duration'].apply(pd.to_timedelta('hh'== hours,'mm'== minutes))

In [20]:
df['Release Date'] = pd.to_datetime(df['Release Date'])

In [ ]:
df.sort_values('No of Persons Voted',ignore_index = True, ascending = True,inplace= True)
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
# Perform a summary of basic statistics (mean, median, standard deviation, min, and max) for the Rating column. Identify any outliers in movie ratings using statistical methods such as Z-scores or IQR.
df['Rating'].describe()

In [ ]:
# z score
from scipy import stats
z_score = stats.zscore(df['Rating'])
outliers = df[(z_score > 3) | (z_score < -3)]
print(outliers)

In [ ]:
q1 = df['Rating'].quantile(0.25)
q3 = df['Rating'].quantile(0.75)
IQR = q3 - q1
lower = q1 - 1.5 * IQR
high = q3 + 1.5 * IQR
outlier = df[(df['Rating'] > lower) | (df['Rating'] < high)]
print(outlier)

In [ ]:
#  How many unique genres exist in the dataset? What are the most common genres over time?
df['Genres'].unique()

In [ ]:
df['Genres'].value_counts()

In [108]:
# Convert the Release Date column into components like year and month. What are the most frequent movie release years and months?
df['Release Date'] = pd.to_datetime(df['Release Date'])

In [109]:
df['year of release date'] = pd.DatetimeIndex(df['Release Date']).year
df['month of release date'] = pd.DatetimeIndex(df['Release Date']).month

In [ ]:
df['year of release date'].value_counts().sort_values(ascending= False)

In [ ]:
df['month of release date'].value_counts().sort_values(ascending= False)

In [ ]:
# How many duplicate movies exist based on the Title column? What steps would you take to remove duplicates, if any?
df['Title'].unique()

In [ ]:
# Perform frequency counts of categorical columns such as Directed by and Written by. Which directors and screenwriters have the most movies in the dataset?
directedby_count = df['Directed by'].value_counts()
wrinttenby_count = df['Written by'].value_counts()
print(directedby_count)
print(wrinttenby_count)
print(directedby_count.head(1))


print(wrinttenby_count.head(1))

In [ ]:
# . Create a new column that classifies movies based on their Duration (e.g., short, medium, long). How many movies fall into each category, and how does the rating vary by category?
df['Duration'] = pd.to_datetime(['Duration'])

In [ ]:
# 8. What are the average and median Number of Persons Voted per movie? What is the relationship between the number of votes and the movie's Rating?
no_voter = df.groupby(['No of Persons Voted']).size()
mean_voter = no_voter.mean()
median_voter= no_voter.median()
print(f'the mean of the no of voter is {mean_voter}')
print(f'the median of the no of voter is {median_voter}')

In [ ]:
# 9. Calculate the total number of movies directed by each director. What are the descriptive statistics (mean, median, max)for the number of movies directed per individual?
count_by_director = df.g

In [ ]:
dd = df.groupby('Directed by')['Directed by'].agg('mean', 'median','max').value_counts().reset_index()
ds = dd.sort_values(by = 'mean', ascending= False)