In [17]:
import numpy as np
import pandas as pd

In [25]:
pr_pd = pd.read_csv('price_data.csv')
cl_pd = pd.read_csv('client_data.csv')

In [5]:
pr_pd.head()

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [32]:
cl_pd.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,t,0.00,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,f,0.00,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,f,0.00,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,f,0.00,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,f,52.32,44.91,44.91,1,47.98,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,19.800,0

In [33]:
cl_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14606 non-null  object
 1   channel_sales                   14606 non-null  object
 2   cons_12m                        14606 non-null  int64
 3   cons_gas_12m                    14606 non-null  int64
 4   cons_last_month                 14606 non-null  int64
 5   date_activ                      14606 non-null  object
 6   date_end                        14606 non-null  object
 7   date_modif_prod                 14606 non-null  object
 8   date_renewal                    14606 non-null  object
 9   forecast_cons_12m               14606 non-null  float64
 10  forecast_cons_year              14606 non-null  int64
 11  forecast_discount_energy        14606 non-null  float64
 12  forecast_meter_rent_12m         14606 non-null  float64
 13  forecast_price_energy_off_peak  14606 non-null  float64
 14  forecast_price_energy_peak      14606 non-null  float64
 15  forecast_price_pow_off_peak     14606 non-null  float64
 16  has_gas                         14606 non-null  object
 17  imp_cons                        14606 non-null  float64
 18  margin_gross_pow_ele            14606 non-null  float64
 19  margin_net_pow_ele              14606 non-null  float64
 20  nb_prod_act                     14606 non-null  int64
 21  net_margin                      14606 non-null  float64
 22  num_years_antig                 14606 non-null  int64
 23  origin_up                       14606 non-null  object
 24  pow_max                         14606 non-null  float64
 25  churn                           14606 non-null  int64
dtypes: float64(11), int64(7), object(8)
memory usage: 2.9+ MB

In [34]:
pr_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193002 entries, 0 to 193001
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  193002 non-null  object
 1   price_date          193002 non-null  object
 2   price_off_peak_var  193002 non-null  float64
 3   price_peak_var      193002 non-null  float64
 4   price_mid_peak_var  193002 non-null  float64
 5   price_off_peak_fix  193002 non-null  float64
 6   price_peak_fix      193002 non-null  float64
 7   price_mid_peak_fix  193002 non-null  float64
dtypes: float64(6), object(2)
memory usage: 11.8+ MB

In [35]:
cl_pd.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
cons_12m,14606.0,159220.286252,573465.264198,0.0,5674.750000,14115.500000,40763.750000,6.207104e+06
cons_gas_12m,14606.0,28092.375325,162973.059057,0.0,0.000000,0.000000,0.000000,4.154590e+06
cons_last_month,14606.0,16090.269752,64364.196422,0.0,0.000000,792.500000,3383.000000,7.712030e+05
forecast_cons_12m,14606.0,1868.614880,2387.571531,0.0,494.995000,1112.875000,2401.790000,8.290283e+04
forecast_cons_year,14606.0,1399.762906,3247.786255,0.0,0.000000,314.000000,1745.750000,1.753750e+05
forecast_discount_energy,14606.0,0.966726,5.108289,0.0,0.000000,0.000000,0.000000,3.000000e+01
forecast_meter_rent_12m,14606.0,63.086871,66.165783,0.0,16.180000,18.795000,131.030000,5.993100e+02
forecast_price_energy_off_peak,14606.0,0.137283,0.024623,0.0,0.116340,0.143166,0.146348,2.739630e-01
forecast_price_energy_peak,14606.0,0.050491,0.049037,0.0,0.000000,0.084138,0.098837,1.959750e-01
forecast_price_pow_off_peak,14606.0,43.130056,4.485988,0.0,40.606701,44.311378,44.311378,5.926638e+01
imp_cons,14606.0,152.786896,341.369366,0.0,0.000000,37.395000,193.980000,1.504279e+04
margin_gross_pow_ele,14606.0,24.565121,20.231172,0.0,14.280000,21.640000,29.880000,3.746400e+02
margin_net_pow_ele,14606.0,24.562517,20.230280,0.0,14.280000,21.640000,29.880000,3.746400e+02
nb_prod_act,14606.0,1.292346,0.709774,1.0,1.000000,1.000000,1.000000,3.200000e+01
net_margin,14606.0,189.264522,311.798130,0.0,50.712500,112.530000,243.097500,2.457065e+04
num_years_antig,14606.0,4.997809,1.611749,1.0,4.000000,5.000000,6.000000,1.300000e+01
pow_max,14606.0,18.135136,13.534743,3.3,12.500000,13.856000,19.172500,3.200000e+02
churn,14606.0,0.097152,0.296175,0.0,0.000000,0.000000,0.000000,1.000000e+00

In [36]:
pr_pd.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
price_off_peak_var,193002.0,0.141027,0.025032,0.0,0.125976,0.146033,0.151635,0.280700
price_peak_var,193002.0,0.054630,0.049924,0.0,0.000000,0.085483,0.101673,0.229788
price_mid_peak_var,193002.0,0.030496,0.036298,0.0,0.000000,0.000000,0.072558,0.114102
price_off_peak_fix,193002.0,43.334477,5.410297,0.0,40.728885,44.266930,44.444710,59.444710
price_peak_fix,193002.0,10.622875,12.841895,0.0,0.000000,0.000000,24.339581,36.490692
price_mid_peak_fix,193002.0,6.409984,7.773592,0.0,0.000000,0.000000,16.226389,17.458221

In [13]:
cl_pd[(cl_pd['churn']) == 1].value_counts().sum()

np.int64(1419)

In [16]:
cl_pd[(cl_pd['churn']) == 0].value_counts().sum()

np.int64(13187)

In [ ]:
pr_pd[(pr_pd['price_mid_peak_var']) >= 1].value_counts().sum()

In [19]:
pds = pd.read_csv('clean_data_after_eda.csv')

In [20]:
pds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14606 entries, 0 to 14605
Data columns (total 44 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              14606 non-null  object
 1   channel_sales                   14606 non-null  object
 2   cons_12m                        14606 non-null  int64
 3   cons_gas_12m                    14606 non-null  int64
 4   cons_last_month                 14606 non-null  int64
 5   date_activ                      14606 non-null  object
 6   date_end                        14606 non-null  object
 7   date_modif_prod                 14606 non-null  object
 8   date_renewal                    14606 non-null  object
 9   forecast_cons_12m               14606 non-null  float64
 10  forecast_cons_year              14606 non-null  int64
 11  forecast_discount_energy        14606 non-null  float64
 12  forecast_meter_rent_12m         14606 non-null  float64
 13  forecast_price_energy_off_peak  14606 non-null  float64
 14  forecast_price_energy_peak      14606 non-null  float64
 15  forecast_price_pow_off_peak     14606 non-null  float64
 16  has_gas                         14606 non-null  object
 17  imp_cons                        14606 non-null  float64
 18  margin_gross_pow_ele            14606 non-null  float64
 19  margin_net_pow_ele              14606 non-null  float64
 20  nb_prod_act                     14606 non-null  int64
 21  net_margin                      14606 non-null  float64
 22  num_years_antig                 14606 non-null  int64
 23  origin_up                       14606 non-null  object
 24  pow_max                         14606 non-null  float64
 25  var_year_price_off_peak_var     14606 non-null  float64
 26  var_year_price_peak_var         14606 non-null  float64
 27  var_year_price_mid_peak_var     14606 non-null  float64
 28  var_year_price_off_peak_fix     14606 non-null  float64
 29  var_year_price_peak_fix         14606 non-null  float64
 30  var_year_price_mid_peak_fix     14606 non-null  float64
 31  var_year_price_off_peak         14606 non-null  float64
 32  var_year_price_peak             14606 non-null  float64
 33  var_year_price_mid_peak         14606 non-null  float64
 34  var_6m_price_off_peak_var       14606 non-null  float64
 35  var_6m_price_peak_var           14606 non-null  float64
 36  var_6m_price_mid_peak_var       14606 non-null  float64
 37  var_6m_price_off_peak_fix       14606 non-null  float64
 38  var_6m_price_peak_fix           14606 non-null  float64
 39  var_6m_price_mid_peak_fix       14606 non-null  float64
 40  var_6m_price_off_peak           14606 non-null  float64
 41  var_6m_price_peak               14606 non-null  float64
 42  var_6m_price_mid_peak           14606 non-null  float64
 43  churn                           14606 non-null  int64
dtypes: float64(29), int64(7), object(8)
memory usage: 4.9+ MB

In [22]:
pds['date_activ'] = pd.to_datetime(pds['date_activ'])
pds['date_end'] = pd.to_datetime(pds['date_end'])
pds['date_modif_prod'] = pd.to_datetime(pds['date_modif_prod'])
pds['date_renewal'] = pd.to_datetime(pds['date_renewal'])

In [24]:
pds.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,var_6m_price_off_peak_var,var_6m_price_peak_var,var_6m_price_mid_peak_var,var_6m_price_off_peak_fix,var_6m_price_peak_fix,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.000131,4.100838e-05,9.084737e-04,2.086294,99.530517,44.235794,2.086425,9.953056e+01,4.423670e+01,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000003,1.217891e-03,0.000000e+00,0.009482,0.000000,0.000000,0.009485,1.217891e-03,0.000000e+00,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000004,9.450150e-08,0.000000e+00,0.000000,0.000000,0.000000,0.000004,9.450150e-08,0.000000e+00,0
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.000003,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000003,0.000000e+00,0.000000e+00,0
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,0.000011,2.896760e-06,4.860000e-10,0.000000,0.000000,0.000000,0.000011,2.896760e-06,4.860000e-10,0

In [26]:
pr_pd.columns.values()

id                    038af19179925da21a25619c5a24b745038af19179925d...
price_date            2015-01-012015-02-012015-03-012015-04-012015-0...
price_off_peak_var                                         27218.487765
price_peak_var                                             10543.775862
price_mid_peak_var                                          5885.790432
price_off_peak_fix                                       8363640.721689
price_peak_fix                                           2050236.168529
price_mid_peak_fix                                       1237139.800329
dtype: object

In [35]:
pr_pd[['price_peak_var', 'price_off_peak_var', 'price_mid_peak_var']].sum()

price_peak_var        10543.775862
price_off_peak_var    27218.487765
price_mid_peak_var     5885.790432
dtype: float64

In [38]:
pr_pd.groupby(id).apply('sum', numeric_only = True)

,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
2231210541712,0.129444,0.106863,0.075004,40.565969,24.339581,16.226389
2231210543760,0.147420,0.000000,0.000000,44.444710,0.000000,0.000000
2231210543856,0.151367,0.000000,0.000000,44.266931,0.000000,0.000000
2231210543920,0.129444,0.106863,0.075004,40.565969,24.339581,16.226389
2231210543952,0.129444,0.106863,0.075004,40.565969,24.339581,16.226389
...,...,...,...,...,...,...
140731734825240,0.151367,0.000000,0.000000,44.266931,0.000000,0.000000
140731734825272,0.151367,0.000000,0.000000,44.266931,0.000000,0.000000
140731734825304,0.151367,0.000000,0.000000,44.266931,0.000000,0.000000
140731734825336,0.151367,0.000000,0.000000,44.266931,0.000000,0.000000
140731734825368,0.151367,0.000000,0.000000,44.266931,0.000000,0.000000

In [50]:
monthly_price_by_id = pr_pd.groupby(['id', 'price_date']).agg({'price_off_peak_var': 'mean', 'price_off_peak_fix': 'mean'}).reset_index()
jan_prices = monthly_price_by_id.groupby('id').first().reset_index()
dec_prices = monthly_price_by_id.groupby('id').last().reset_index()
jan_prices

,id,price_date,price_off_peak_var,price_off_peak_fix
0,0002203ffbb812588b632b9e628cc38d,2015-01-01,0.126098,40.565969
1,0004351ebdd665e6ee664792efc4fd13,2015-01-01,0.148047,44.266931
2,0010bcc39e42b3c2131ed2ce55246e3c,2015-01-01,0.150837,44.444710
3,0010ee3855fdea87602a5b7aba8e42de,2015-01-01,0.123086,40.565969
4,00114d74e963e47177db89bc70108537,2015-01-01,0.149434,44.266931
...,...,...,...,...
16091,ffef185810e44254c3a4c6395e6b4d8a,2015-01-01,0.162720,41.063970
16092,fffac626da707b1b5ab11e8431a4d0a2,2015-01-01,0.148825,44.266931
16093,fffc0cacd305dd51f316424bbb08d1bd,2015-01-01,0.153159,41.063970
16094,fffe4f5646aa39c7f97f95ae2679ce64,2015-01-01,0.127566,40.565969
16095,ffff7fa066f1fb305ae285bb03bf325a,2015-01-01,0.129444,40.565969

In [51]:
dec_prices

,id,price_date,price_off_peak_var,price_off_peak_fix
0,0002203ffbb812588b632b9e628cc38d,2015-12-01,0.119906,40.728885
1,0004351ebdd665e6ee664792efc4fd13,2015-12-01,0.143943,44.444710
2,0010bcc39e42b3c2131ed2ce55246e3c,2015-12-01,0.201280,45.944710
3,0010ee3855fdea87602a5b7aba8e42de,2015-12-01,0.113068,40.728885
4,00114d74e963e47177db89bc70108537,2015-12-01,0.145440,44.266930
...,...,...,...,...
16091,ffef185810e44254c3a4c6395e6b4d8a,2015-12-01,0.112488,40.728885
16092,fffac626da707b1b5ab11e8431a4d0a2,2015-12-01,0.145047,44.444710
16093,fffc0cacd305dd51f316424bbb08d1bd,2015-12-01,0.151399,41.228885
16094,fffe4f5646aa39c7f97f95ae2679ce64,2015-12-01,0.118175,40.728885
16095,ffff7fa066f1fb305ae285bb03bf325a,2015-12-01,0.119916,40.728885

In [52]:
dec_prices.head(50)

,id,price_date,price_off_peak_var,price_off_peak_fix
0,0002203ffbb812588b632b9e628cc38d,2015-12-01,0.119906,40.728885
1,0004351ebdd665e6ee664792efc4fd13,2015-12-01,0.143943,44.444710
2,0010bcc39e42b3c2131ed2ce55246e3c,2015-12-01,0.201280,45.944710
3,0010ee3855fdea87602a5b7aba8e42de,2015-12-01,0.113068,40.728885
4,00114d74e963e47177db89bc70108537,2015-12-01,0.145440,44.266930
5,00126c87cf78d7604278f0a9adeb689e,2015-12-01,0.113068,40.728885
6,0013f326a839a2f6ad87a1859952d227,2015-12-01,0.121647,40.728885
7,00184e957277eeef733a7b563fdabd06,2015-12-01,0.145093,44.266930
8,001987ed9dbdab4efa274a9c7233e1f4,2015-12-01,0.118175,40.728885
9,0019baf3ed1242cd99b3cb592030446f,2015-12-01,0.275124,59.206930
10,001cb880d847a0b63b404a48e50aec17,2015-12-01,0.140172,44.444710
11,001cd16732dc7d5bdf46b0d49996c271,2015-12-01,0.200142,46.444710
12,001dc71143f45cb58aaccc2e94823c5a,2015-12-01,0.145047,44.444710
13,0024bc8ffe90ec2d5f5be3b5cd7bf2cf,2015-12-01,0.147600,44.444710
14,002b3009d069858b471918402fb237b7,2015-12-01,0.100664,59.173468
15,002d70a2bdf9cf62f10d1efbea890f69,2015-12-01,0.145859,44.444710
16,002dc7935f7b6f855aaa3d1bd242ab9a,2015-12-01,0.115854,40.728885
17,0030bd55614c2c5e693e04b64faa6445,2015-12-01,0.166638,44.444710
18,003742573bb97760793ced15e3e11745,2015-12-01,0.148239,45.444710
19,003cb4fdda941fb84bcd2be9af683254,2015-12-01,0.144869,44.266930
20,003e7fcd19e10f5114c29ce4a6997ba0,2015-12-01,0.140172,44.444710
21,003fb333060c256bff67d8d550bff1fa,2015-12-01,0.118175,40.728885
22,00420fc2b6ede48ec7e941c769a6a840,2015-12-01,0.116318,40.728885
23,0042d28bd6161dad1212cbafef43d147,2015-12-01,0.119916,40.728885
24,00443249897e23b636e6ba1ed6bfdb2a,2015-12-01,0.145047,44.444710
25,00459ffab7bbdf775a4f8c4c54cd0647,2015-12-01,0.117594,40.728885
26,004c8f9b38dd23ec22a8c88201cb359e,2015-12-01,0.142494,44.444710
27,004d6fbd40fdd503a1a8f30f11613d3c,2015-12-01,0.163735,44.444710
28,004eab8ff1db6804baa4742a47441dc3,2015-12-01,0.119514,41.228885
29,0050ff8eebddf354344ac124c6c95217,2015-12-01,0.143306,44.444710
30,00595ac27c3d569792525d9a8152ac28,2015-12-01,0.148586,44.444710
31,005a1ca83d28ef9fe6b50db90fab2e6a,2015-12-01,0.167797,44.444710
32,005e67ff54e6efe38addb10c386a9ed8,2015-12-01,0.146788,44.444710
33,0060e975b0d00bfe39fd2da5a36aefe9,2015-12-01,0.163071,44.266930
34,0061281c2a507ec6f448e4710fc23c61,2015-12-01,0.147983,44.266930
35,0066e1989bb69201a52a109ff68cb700,2015-12-01,0.113943,40.728885
36,0067e39cb3da161ee6b1652ffc3ab247,2015-12-01,0.118175,40.728885
37,006aa187782c3b5adfb2f866df8efd6a,2015-12-01,0.146033,44.444710
38,006e3fba0c72834b3950b1940b592dda,2015-12-01,0.112823,40.565973
39,007126a976062d074f0bc063dcc40772,2015-12-01,0.147983,44.266930
40,00712a82ee7702fb3e3abace2ba58daa,2015-12-01,0.119916,40.728885
41,007366595913874291f68fec31370eeb,2015-12-01,0.167118,44.266930
42,00741d1795e23f627bb7e8246c410cb3,2015-12-01,0.197209,44.266930
43,0075ba4dfe5a3515c59d2ce3222a32b8,2015-12-01,0.165077,41.228885
44,00761154b6c4c736a000c84e6e487a02,2015-12-01,0.118238,41.395552
45,007a80f8808fdc58e43ff5550a39dc62,2015-12-01,0.149400,45.944710
46,007c9311c0728c2f8de9b85f85947647,2015-12-01,0.159422,44.266930
47,0082e565c1298cbe9cf70e96f571e4fa,2015-12-01,0.147173,44.266930
48,0082e856036f1ee2cb21b110dcea2950,2015-12-01,0.117594,40.728885
49,008639281430debb1b4faceeb0c4c3f4,2015-12-01,0.144757,45.944710